services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: django_backend
    restart: unless-stopped
    command: >
      sh -c "sleep 3 &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      #Настройка базы данных
      DB_HOST: db
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_PORT: 5432

      #Настройка Django
      SECRET_KEY: "django-insecure-ph!3358kq=-w&8s_8g=*mnjkvqgw-7p^s+#3(60#li9w(y$8=&"
      DEBUG: "True"
      ALLOWED_HOSTS: "localhost,127.0.0.1,0.0.0.0,backend,frontend"
      DJANGO_SETTINGS_MODULE: "project.project.settings"
      CORS_ALLOWED_ORIGINS: "http://localhost:3000, http://frontend:5173"
      CORS_ALLOW_CREDENTIALS: "True"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: unless-stopped
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://backend:8000
      - WATCHPACK_POLLING=true
    depends_on:
      - backend

volumes:
  postgres_data:
